У міні-проекті ви повинні проаналізувати дані про бронювання готелів.

Hotel – тип готелю (City Hotel або Resort Hotel)
Is canceled – бронювання було скасовано (1) чи ні (0); не скасоване вважається успішним
Lead time – кількість днів, що пройшли між датою бронювання та датою прибуття
Arrival full date – повна дата прибуття
Arrival date year – рік прибуття
Arrival date month – місяць прибуття
Arrival date week number – номер тижня прибуття
Arrival date day of month – день прибуття
Stays in weekend nights – кількість вихідних (субота чи неділя), які відвідувач забронював для проживання в готелі.
Stays in week nights – кількість днів (з понеділка по п'ятницю), які відвідувач забронював для проживання в готелі.
Stays total nights – загальна кількість заброньованих ночей (сума двох попередніх колонок)
Adults – кількість дорослих
Children – кількість дітей
Babies – кількість немовлят
Meal – вибраний тип живлення
Country – країна походження клієнта
Reserved room type – тип зарезервованого номера
Assigned room type – тип отриманого номера (може відрізнятись від заброньованого)
Customer type – тип бронювання
Reservation status – значення останнього статусу броні: Canceled – було скасовано клієнтом; Check-Out – клієнт зареєструвався, але вже покинув готель; No-Show - клієнт не зареєструвався та повідомив адміністрації готелю причину
Reservation status date – дата оновлення статусу

1. Імпортуйте бібліотеку pandas як pd.
Завантажте датасет bookings.csv з роздільником ;.
Перевірте розмір таблиці, типи змінних, а потім виведіть перші 7 рядків, щоб переглянути дані.

In [1]:
import pandas as pd

In [2]:
url = 'https://drive.google.com/file/d/177A8Zc-6zwxI-_KdK4NSTTmQp-qprovu/view?usp=sharing'
path = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
booking = pd.read_csv(path, sep=';')

In [3]:
booking.shape

(119390, 21)

In [4]:
booking.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [5]:
booking.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

2. Наведіть назви колонок до нижнього регістру та замініть пробіли на знак нижнього підкреслення.

In [6]:
booking.columns = booking.columns.str.replace(' ', '_').str.lower()

In [7]:
booking.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
booking.isna().mean()

hotel                        0.000000
is_canceled                  0.000000
lead_time                    0.000000
arrival_full_date            0.000000
arrival_date_year            0.000000
arrival_date_month           0.000000
arrival_date_week_number     0.000000
arrival_date_day_of_month    0.000000
stays_in_weekend_nights      0.000000
stays_in_week_nights         0.000000
stays_total_nights           0.000000
adults                       0.000000
children                     0.000034
babies                       0.000000
meal                         0.000000
country                      0.004087
reserved_room_type           0.000000
assigned_room_type           0.000000
customer_type                0.000000
reservation_status           0.000000
reservation_status_date      0.000000
dtype: float64

3. Користувачі з яких країн здійснили найбільше успішних бронювань? Вкажіть топ-5.

In [9]:
# спосіб 1
booking.query('is_canceled == 0') \
        .groupby('country', as_index=False) \
        .agg({'is_canceled':'count'}) \
        .sort_values('is_canceled', ascending=False)[:5]

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [10]:
# спосіб 2
booking.query('is_canceled == 0') \
        .country \
        .value_counts() [:5]

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

4. Скільки ночей у середньому бронюють готелі різних типів?

In [11]:
booking.groupby('hotel', as_index=False) \
        .agg({'stays_total_nights':'mean'}) \
        .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

5. Іноді тип номера, отриманого клієнтом (assigned_room_type), відрізняється від заброньованого (reserved_room_type). Таке може статися, наприклад, через овербукінгу. Скільки подібних спостережень зустрілося у датасеті?

In [12]:
booking.query('reserved_room_type != assigned_room_type').shape[0]

14917

6. Проаналізуйте дату запланованого прибуття.
– На який місяць найчастіше успішно оформляли броню у 2016? Чи змінився найпопулярніший місяць у 2017?
– Згрупуйте дані за роками та перевірте, на який місяць бронювання готелю типу City Hotel скасовувалися найчастіше у кожний із періодів

In [13]:
booking.query('arrival_date_year == 2016') \
        .arrival_date_month \
        .value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [14]:
booking.query('arrival_date_year == 2017') \
        .arrival_date_month \
        .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [15]:
booking.query('hotel == "City Hotel" and is_canceled == 1') \
        .groupby('arrival_date_year') \
        .arrival_date_month \
        .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

7. Подивіться на числові характеристики трьох змінних: adults, children та babies. Яка їх має найбільше середнє значення?

In [16]:
booking[['adults','children','babies']] \
        .mean() \
        .round(2)

adults      1.86
children    0.10
babies      0.01
dtype: float64

8. Створіть стовпчик total_kids, об'єднавши children і babies. Готелі якого типу в середньому мають популярність у клієнтів з дітьми?

In [17]:
booking['total_kids'] = booking['children'] + booking['babies']

In [18]:
booking.groupby('hotel', as_index=False) \
        .agg({'total_kids': 'mean'}) \
        .round(2)

          hotel  total_kids
0    City Hotel        0.10
1  Resort Hotel        0.14

9. Створіть змінну has_kids, яка набуває значення True, якщо клієнт при бронюванні вказав хоча б одну дитину (total_kids), інакше – False.
Порахуйте відношення кількості користувачів до загальної кількості клієнтів, виражене у відсотках (churn rate). Вкажіть, серед якої групи показник вищий.

In [19]:
booking['has_kids'] = booking['total_kids'] > 0

In [20]:
no_kids_churn = booking.query('is_canceled == 1 and has_kids == False').shape[0] / booking.query('has_kids == False').shape[0]
no_kids_churn = round(no_kids_churn * 100,2)

In [21]:
no_kids_churn

37.22