1. Збережіть у змінну age довільний вік, виражений цілим числом, а в змінну name якесь ім'я у вигляді рядка

In [1]:
age = 33
name = 'Maksym'

2. Створіть список user_info, що містить 2 рядки (ім'я та прізвище користувача), 1 дробове число (зарплата) та 1 ціле число (стаж)

In [2]:
user_info = ['Maksym', 'Semchenko', 30150.50, 11]

In [3]:
user_info

['Maksym', 'Semchenko', 30150.5, 11]

3. Помістіть у змінну перший (тобто нульовий) елемент зі списку salaries

In [4]:
salaries = [1, 2, 3, 4, 5]
first = salaries[0]

In [5]:
first

1

4. Додати до списку users елементи 'Voronov' і 42

In [6]:
users = ['Semchenko', 33]
users.append('Voronov')
users.append(42)

In [7]:
users

['Semchenko', 33, 'Voronov', 42]

5. У змінній user_ages міститься список вікових груп клієнтів. Напишіть петлю, що виводить на друк віку, які більше 18 Приклад даних, які можуть бути в user_ages.
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [8]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [9]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

6. Напишіть програму, яка перевіряє стаж роботи працівника. У змінній worker міститься список, що містить значення як у 2-му завданні (ім'я, прізвище, зарплата, стаж). Помістіть у змінну status такий рядок:
user_name, user_family is position
де user_name і user_family - ім'я та прізвище співробітника, а position - один з наступних рядків:
'junior' - стаж менше 2 років
'middle' - стаж більше або дорівнює 2 років
'senior' - стаж більше 5 років
Приклад даних, які можуть бути у worker
worker = ['Olya', 'Silyutina', 350000, 3]
Hint: друкувати результат не потрібно, просто задайте його у змінну status

In [10]:
worker = ['Olya', 'Silyutina', 35000, 3]
expirience = worker[3]
status = '{} {} is {}'

In [11]:
if expirience < 2:
    position = 'junior'
elif 2 <= expirience <= 5:
    position = 'middle'
else:
    position = 'senior'
status.format(worker[0], worker[1], position)

'Olya Silyutina is middle'

7. У списку values містяться числові значення. Створіть список tens і додайте до нього всі числа з values, які діляться на 10 націло
Приклад даних, які можуть бути у значеннях
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [12]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []

In [13]:
for i in values:
  if i % 10 == 0:
    tens.append(i)
tens

[10, 100, 20, 50, 160, 210]

8. ⭐️ Завдання зі зірочкою! ⭐️
Реалізуйте цикл, який пробігається по списку workers зі значеннями як у 2-му та 6-му завданнях, і виводить для кожного співробітника рядок (тобто друкує його для кожного елемента списку)
user_name user_family is position
де user_name і user_family - ім'я та прізвище співробітника, а position - один з наступних рядків
'junior' - стаж менше 2 років
'middle' - стаж більше або дорівнює 2 років
'senior' - стаж більше 5 років
Приклад даних, які можуть бути в workers
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
Note: у цьому завданні потрібно друкувати ці рядки

In [14]:
workers = [['Olya', 'Silyutina', 35000, 3], \
          ['Maksym', 'Semchenko', 30150.50, 11], \
          ['Ivan', 'Ivanov', 100000, 2], \
          ['Petr', 'Petrov', 150000, 1], \
          ['Sidor', 'Sidorov', 200000, 3]]

In [15]:
for worker in workers:
    expirience = worker[3]
    status = '{} {} is {}'
  
    if expirience < 2:
        position = 'junior'
    elif 2 <= expirience <= 5:
        position = 'middle'
    else:
        position = 'senior'
    status = status.format(worker[0], worker[1], position)
    print(status)

Olya Silyutina is middle
Maksym Semchenko is senior
Ivan Ivanov is middle
Petr Petrov is junior
Sidor Sidorov is middle