1. –ü–æ—á–Ω–µ–º–æ –∑ –ø—Ä–æ—Å—Ç–æ–≥–æ –ø–∏—Ç–∞–Ω–Ω—è: —â–æ —Å—Ç–∞–Ω–µ—Ç—å—Å—è –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ –Ω–∞—Å—Ç—É–ø–Ω–æ—ó –∫–æ–º–∞–Ω–¥–∏?
import pandas as pd

In [ ]:
# —ñ–º–ø–æ—Ä—Ç—É–≤–∞–Ω–Ω—è –±—ñ–±–ª—ñ–æ—Ç–µ–∫–∏ pandas —Ç–∞ –Ω–∞–¥–∞–Ω–Ω—è —ó–π –ø—Å–µ–≤–¥–æ–Ω—ñ–º—É pd

2. –¢–µ–ø–µ—Ä –ø–æ–ø—Ä–∞—Ü—é—î–º–æ –∑ –¥–∞–Ω–∏–º–∏ –ø—Ä–æ –ø–æ—ó–∑–¥–∫–∏ –Ω–∞ —Ç–∞–∫—Å—ñ –≤ –ù—å—é-–ô–æ—Ä–∫—É, –¥–µ —Ç–∞–∫–æ–∂ —î —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –ø—Ä–æ –ø–æ–≥–æ–¥–Ω—ñ —É–º–æ–≤–∏ —Ç–∞ –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ.
pickup_dt ‚Äì –ø–µ—Ä—ñ–æ–¥ –∑ —Ç–æ—á–Ω—ñ—Å—Ç—é –¥–æ –≥–æ–¥–∏–Ω–∏
pickup_month ‚Äì –º—ñ—Å—è—Ü—å
borough ‚Äì —Ä–∞–π–æ–Ω –ù—å—é-–ô–æ—Ä–∫–∞, –∑ —è–∫–æ–≥–æ –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è (5 —Ä–∞–π–æ–Ω—ñ–≤ + –∞–µ—Ä–æ–ø–æ—Ä—Ç)
pickups ‚Äì –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä—ñ–æ–¥ (–≥–æ–¥–∏–Ω–∞)
hday ‚Äì —á–∏ —î –¥–µ–Ω—å —Å–≤—è—Ç–∫–æ–≤–∏–º/–≤–∏—Ö—ñ–¥–Ω–∏–º; Y - —Ç–∞–∫, N - –Ω—ñ
spd ‚Äì —à–≤–∏–¥–∫—ñ—Å—Ç—å –≤—ñ—Ç—Ä—É –∑–∞ –º–∏–ª—ñ –Ω–∞ –≥–æ–¥–∏–Ω—É
vsb ‚Äì –≤–∏–¥–∏–º—ñ—Å—Ç—å
temp ‚Äì —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ —É –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç—É
dewp ‚Äì —Ç–æ—á–∫–∞ —Ä–æ—Å–∏ –∑–∞ –§–∞—Ä–µ–Ω–≥–µ–π—Ç–æ–º
slp ‚Äì —Ç–∏—Å–∫
pcp_01 ‚Äì –∫—ñ–ª—å–∫—ñ—Å—Ç—å –æ–ø–∞–¥—ñ–≤ –∑–∞ –≥–æ–¥–∏–Ω—É
pcp_06 ‚Äì –∫—ñ–ª—å–∫—ñ—Å—Ç—å –æ–ø–∞–¥—ñ–≤ –∑–∞ 6 –≥–æ–¥–∏–Ω
pcp_24 ‚Äì –∫—ñ–ª—å–∫—ñ—Å—Ç—å –æ–ø–∞–¥—ñ–≤ –∑–∞ 24 –≥–æ–¥–∏–Ω–∏
sd ‚Äì –≥–ª–∏–±–∏–Ω–∞ —Å–Ω—ñ–≥—É —É –¥—é–π–º–∞—Ö
–Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas, –∞ –ø–æ—Ç—ñ–º –∑–∞–≤–∞–Ω—Ç–∞–∂—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç 2_taxi_nyc (–ø–µ—Ä–µ–±—É–≤–∞—î –≤ –ø–∞–ø—Ü—ñ). –†–µ–∑—É–ª—å—Ç–∞—Ç –∑–±–µ—Ä–µ–∂—ñ—Ç—å –∑–º—ñ–Ω–Ω—É taxi.
–î–ª—è –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è –¥–∞—Ç–∞—Å–µ—Ç—É –≤ pandas –∑–∞ –ø–æ—Å–∏–ª–∞–Ω–Ω—è–º –ø—Ä–æ—Å—Ç–æ –≤–∏–∫–æ–Ω–∞–π—Ç–µ pd.read_csv('path')

In [1]:
import pandas as pd

In [2]:
url = 'https://drive.google.com/file/d/1bi3XhE-SP_VMqVBYMvsBOxlaks8_TZ0h/view?usp=sharing'
path = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
taxi = pd.read_csv(path)

In [3]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

3. –ü–µ—Ä–µ–≤—ñ—Ä—Ç–µ, —Å–∫—ñ–ª—å–∫–∏ –≤—Å—å–æ–≥–æ —Ä—è–¥–∫—ñ–≤ —ñ —Å—Ç–æ–≤–ø—Ü—ñ–≤ —î –≤ –¥–∞—Ç–∞—Å–µ—Ç—ñ.

In [4]:
taxi.shape

(29101, 14)

4. –î–∞–≤–∞–π—Ç–µ –ø–æ–¥–∏–≤–∏–º–æ—Å—è –Ω–∞ —Ç–∏–ø–∏ –∫–æ–ª–æ–Ω–æ–∫. –ß–∏ –≤—Å—ñ –≤–æ–Ω–∏ –≤–≤–∞–∂–∞–ª–∏—Å—è –ø—Ä–∞–≤–∏–ª—å–Ω–æ? –ù–∞–∑–≤—ñ—Ç—å —Ç–∏–ø, —è–∫–∏–π –ø–µ—Ä–µ–≤–∞–∂–∞—î –≤ –¥–∞—Ç–∞—Å–µ—Ç—ñ.

In [5]:
taxi.dtypes.value_counts()

float64    9
object     4
int64      1
dtype: int64

In [6]:
# —Ç–∏–ø, —è–∫–∏–π –ø–µ—Ä–µ–≤–∞–∂–∞—î –≤ –¥–∞—Ç–∞—Å–µ—Ç—ñ float64

5. –£ –Ω–∞–∑–≤–∞—Ö —Å—Ç–æ–≤–ø—Ü—ñ–≤ pcp 01, pcp 06, pcp 24 –∑—É—Å—Ç—Ä—ñ—á–∞—î—Ç—å—Å—è –ø—Ä–æ–±—ñ–ª. –¶–µ –Ω–µ –¥—É–∂–µ –∑—Ä—É—á–Ω–æ, —è–∫—â–æ –Ω–∞–¥–∞–ª—ñ –≤–∏ –ø–ª–∞–Ω—É—î—Ç–µ –∑–≤–µ—Ä—Ç–∞—Ç–∏—Å—è –¥–æ –∫–æ–ª–æ–Ω–æ–∫ —á–µ—Ä–µ–∑ —Ç–æ—á–∫—É, –±–µ–∑ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è –ª–∞–ø–æ–∫ —ñ –¥—É–∂–æ–∫.
–ó–∞–º—ñ–Ω—ñ—Ç—å –ø—Ä–æ–±—ñ–ª —É –Ω–∞–∑–≤–∞—Ö –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω—å–æ–≥–æ –ø—ñ–¥–∫—Ä–µ—Å–ª–µ–Ω–Ω—è.

In [7]:
taxi = taxi.rename(columns = {'pcp 01': 'pcp_01' \
                       ,'pcp 06': 'pcp_06' \
                       ,'pcp 24': 'pcp_24'})

In [8]:
taxi.columns

Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb',
       'temp', 'dewp', 'slp', 'pcp_01', 'pcp_06', 'pcp_24', 'sd'],
      dtype='object')

6. –í–∞—Å –ø–æ–ø—Ä–æ—Å–∏–ª–∏ –¥—ñ–∑–Ω–∞—Ç–∏—Å—è, —Å–∫—ñ–ª—å–∫–∏ –∑–∞–ø–∏—Å—ñ–≤ (—Ä—è–¥–∫—ñ–≤) —É –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—ñ –≤—ñ–¥–Ω–æ—Å—è—Ç—å—Å—è –¥–æ —Ä–∞–π–æ–Ω—É –ú–∞–Ω—Ö–µ—Ç—Ç–µ–Ω (Manhattan). –û—Ç—Ä–∏–º–∞—Ç–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–Ω–∞ –±—É–ª–æ –±, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –Ω–∞—Å—Ç—É–ø–Ω–æ—ó –∫–æ–º–∞–Ω–¥–∏:
taxi.query("borough == 'Manhattan'").shape[0]
–ê —è–∫—â–æ –º–∏ —Ö–æ—á–µ–º–æ –ø–æ–¥–∏–≤–∏—Ç–∏—Å—è, —Å–∫—ñ–ª—å–∫–∏ —Ä–∞–∑—ñ–≤ —Ç—Ä–∞–ø–ª—è—î—Ç—å—Å—è –∫–æ–∂–µ–Ω —ñ–∑ —Ä–∞–π–æ–Ω—ñ–≤? –ù–µ–≤–∂–µ –¥–æ–≤–µ–¥–µ—Ç—å—Å—è –≤–∏–∫–æ—Ä–∏—Å—Ç–æ–≤—É–≤–∞—Ç–∏ —Ç–∞–∫—É –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü—ñ—é –¥–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ä—ñ–≤–Ω—è –∑–º—ñ–Ω–Ω–æ—ó? –¢—É—Ç –Ω–∞ –¥–æ–ø–æ–º–æ–≥—É –ø—Ä–∏—Ö–æ–¥–∏—Ç—å –º–µ—Ç–æ–¥ value_counts(), –¥–æ–∫–ª–∞–¥–Ω—ñ—à–µ –ø—Ä–æ —è–∫–∏–π –º–æ–∂–Ω–∞ –ø–æ—á–∏—Ç–∞—Ç–∏ —É –∫–æ–Ω—Å–ø–µ–∫—Ç—ñ!
–°–∫—ñ–ª—å–∫–∏ —Ä–∞–∑—ñ–≤ —É –¥–∞–Ω–∏—Ö –∑—É—Å—Ç—Ä—ñ—á–∞—î—Ç—å—Å—è —Ä–∞–π–æ–Ω –ë—Ä—É–∫–ª—ñ–Ω (Brooklyn)?

In [9]:
taxi['borough'].value_counts()

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

7. –ù–∞—Å—Ç—É–ø–Ω–µ –∑–∞–≤–¥–∞–Ω–Ω—è: –∑'—è—Å—É–≤–∞—Ç–∏, –∑ —è–∫–æ–≥–æ —Ä–∞–π–æ–Ω—É –±—É–ª–æ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –Ω–∞–π–±—ñ–ª—å—à—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫ –∑–∞ –ø–µ—Ä—ñ–æ–¥.
–î–ª—è –ø–æ—á–∞—Ç–∫—É –ø–æ—Ä–∞—Ö—É–π—Ç–µ –∑–∞–≥–∞–ª—å–Ω—É –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫ (pickups), –±–µ–∑ –≥—Ä—É–ø–æ–≤–∞–Ω–Ω—è.

In [10]:
taxi.pickups.sum()

14265773

8. –ê —Ç–µ–ø–µ—Ä –∑–≥—Ä—É–ø—É–π—Ç–µ –¥–∞–Ω—ñ –ø–æ —Ä–∞–π–æ–Ω—É (borough) —ñ –≤–∫–∞–∂—ñ—Ç—å, –∑ —è–∫–æ–≥–æ –ø—É–Ω–∫—Ç—É –±—É–ª–æ –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –Ω–∞–π–±—ñ–ª—å—à–µ –ø–æ—ó–∑–¥–æ–∫.

In [11]:
taxi.groupby('borough', as_index=False) \
    .agg({'pickups': 'sum'}) \
    .sort_values(['pickups'], ascending = False) \
    .head(1)

     borough   pickups
3  Manhattan  10367841

9. ‚≠êÔ∏è–ó–∞–≤–¥–∞–Ω–Ω—è –∑—ñ –∑—ñ—Ä–æ—á–∫–æ—é!‚≠êÔ∏è
–©–µ –∫—ñ–ª—å–∫–∞ –∫–æ—Ä–∏—Å–Ω–∏—Ö –º–µ—Ç–æ–¥—ñ–≤ —É pandas! –ú–æ–∂–ª–∏–≤–æ, —É –ø–æ–ø–µ—Ä–µ–¥–Ω—å–æ–º—É —Å—Ç–µ–ø—É –≤–∏ –ø—Ä–æ—Å—Ç–æ –ø–æ–¥–∏–≤–∏–ª–∏—Å—è –Ω–∞ –¥–∞–Ω—ñ –∞–±–æ –≤—ñ–¥—Å–æ—Ä—Ç—É–≤–∞–ª–∏ –∑–Ω–∞—á–µ–Ω–Ω—è. –ü—Ä–∏—Å–∫–æ—Ä–∏—Ç–∏ —Ü–µ–π –ø—Ä–æ—Ü–µ—Å –Ω–∞–¥–∞–ª—ñ –¥–æ–ø–æ–º–æ–∂—É—Ç—å –º–µ—Ç–æ–¥–∏ idxmin() —Ç–∞ idxmax(), —è–∫—ñ –ø–æ–≤–µ—Ä—Ç–∞—é—Ç—å —ñ–Ω–¥–µ–∫—Å –º—ñ–Ω—ñ–º–∞–ª—å–Ω–æ–≥–æ —á–∏ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞—á–µ–Ω–Ω—è.
–ó–±–µ—Ä–µ–∂—ñ—Ç—å –Ω–∞–∑–≤—É —Ä–∞–π–æ–Ω—É –∑ –Ω–∞–π–º–µ–Ω—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ—ó–∑–¥–æ–∫ —É –∑–º—ñ–Ω–Ω—É min_pickups, –∑–∞—Å—Ç–æ—Å—É–≤–∞–≤—à–∏ –≤—ñ–¥–ø–æ–≤—ñ–¥–Ω–∏–π –º–µ—Ç–æ–¥.

In [12]:
taxi.groupby('borough') \
    .agg({'pickups': 'sum'}) \
    .idxmin()

pickups    EWR
dtype: object

10. –ü—Ä–æ–¥–æ–≤–∂–∏–º–æ –≤–∏–≤—á–µ–Ω–Ω—è –¥–∞–Ω–∏—Ö —Ç–∞ –ø–æ–¥–∏–≤–∏–º–æ—Å—è –Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫ —É –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ. –ó–≥—Ä—É–ø—É–π—Ç–µ –¥–∞–Ω—ñ –∑–∞ –¥–≤–æ–º–∞ –æ–∑–Ω–∞–∫–∞–º–∏: —Ä–∞–π–æ–Ω—É –º—ñ—Å—Ç–∞ —ñ —á–∏ —î –¥–µ–Ω—å –≤–∏—Ö—ñ–¥–Ω–∏–º (–∫–æ–ª–æ–Ω–∫–∏ borough —Ç–∞ hday). –ü–æ—Ä—ñ–≤–Ω—è–π—Ç–µ —Å–µ—Ä–µ–¥–Ω—é –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫, —ñ –Ω–∞–∑–≤—ñ—Ç—å —Ä–∞–π–æ–Ω–∏, –∑ —è–∫–∏—Ö —É —Å–≤—è—Ç–∞ –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –Ω–∞–¥—Ö–æ–¥–∏—Ç—å –±—ñ–ª—å—à–µ –∑–∞–º–æ–≤–ª–µ–Ω—å, –Ω—ñ–∂ —É –∑–≤–∏—á–∞–π–Ω—ñ –¥–Ω—ñ.

In [13]:
# –ì—Ä—É–ø—É—î–º–æ –∑–∞ —Ä–∞–π–æ–Ω–æ–º —Ç–∞ —á–∏ —î –¥–µ–Ω—å –≤–∏—Ö—ñ–¥–Ω–∏–º
taxi.groupby(['borough','hday'], as_index=False) \
    .agg({'pickups': 'mean'}) \
    .sort_values(['pickups'], ascending = False)

          borough hday      pickups
6       Manhattan    N  2401.302921
7       Manhattan    Y  2035.928144
2        Brooklyn    N   534.727969
3        Brooklyn    Y   527.011976
9          Queens    Y   320.730539
8          Queens    N   308.899904
0           Bronx    N    50.771073
1           Bronx    Y    48.065868
10  Staten Island    N     1.606082
11  Staten Island    Y     1.497006
5             EWR    Y     0.041916
4             EWR    N     0.023467

11. –î–ª—è –∫–æ–∂–Ω–æ–≥–æ —Ä–∞–π–æ–Ω—É –ø–æ—Ä–∞—Ö—É–π—Ç–µ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—ó–∑–¥–æ–∫ –ø–æ –º—ñ—Å—è—Ü—è—Ö. –í—ñ–¥—Å–æ—Ä—Ç—É–π—Ç–µ –æ—Ç—Ä–∏–º–∞–Ω—ñ –∑–Ω–∞—á–µ–Ω–Ω—è –∑–∞ —Å–ø–∞–¥–∞–Ω–Ω—è–º —Ç–∞ –∑–±–µ—Ä–µ–∂—ñ—Ç—å —Ä–µ–∑—É–ª—å—Ç—É—é—á–∏–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —É pickups_by_mon_bor. –ó–≤–µ—Ä–Ω—ñ—Ç—å —É–≤–∞–≥—É, —â–æ –ø—ñ–¥—Å—É–º–∫–æ–≤–∏–π –¥–∞—Ç–∞—Å–µ—Ç –ø–æ–≤–∏–Ω–µ–Ω —Å–∫–ª–∞–¥–∞—Ç–∏—Å—è –∑ —Ç—Ä—å–æ—Ö –∫–æ–ª–æ–Ω–æ–∫ - pickup_month, borough, pickups.

In [14]:
pickups_by_mon_bor = taxi.groupby(['pickup_month','borough'], as_index=False) \
                            .agg({'pickups': 'sum'}) \
                            .sort_values(['pickups'], ascending = False)

In [15]:
pickups_by_mon_bor

   pickup_month        borough  pickups
21          Jun      Manhattan  1995388
33          May      Manhattan  1888800
9           Feb      Manhattan  1718571
27          Mar      Manhattan  1661261
3           Apr      Manhattan  1648278
15          Jan      Manhattan  1455543
19          Jun       Brooklyn   482466
31          May       Brooklyn   476087
1           Apr       Brooklyn   378095
25          Mar       Brooklyn   346726
7           Feb       Brooklyn   328650
13          Jan       Brooklyn   309011
22          Jun         Queens   286311
34          May         Queens   275893
28          Mar         Queens   219561
4           Apr         Queens   216857
10          Feb         Queens   185695
16          Jan         Queens   159211
30          May          Bronx    53037
18          Jun          Bronx    49006
0           Apr          Bronx    34617
24          Mar          Bronx    32232
6           Feb          Bronx    28694
12          Jan          Bronx    22461
23          Jun  Staten Island     1673
35          May  Staten Island     1517
5           Apr  Staten Island     1068
29          Mar  Staten Island      975
11          Feb  Staten Island      903
17          Jan  Staten Island      821
20          Jun            EWR       29
32          May            EWR       27
26          Mar            EWR       14
8           Feb            EWR       14
14          Jan            EWR       11
2           Apr            EWR       10

12. üíÄ –°–∫–ª–∞–¥–Ω–µ –∑–∞–≤–¥–∞–Ω–Ω—è! üíÄ
–¢–µ–ø–µ—Ä –∑–∞–≤–¥–∞–Ω–Ω—è —Å–∫–ª–∞–¥–Ω—ñ—à–µ! –ü–æ–ø—Ä–∞–∫—Ç–∏–∫—É—î–º–æ—Å—å —É –Ω–∞–ø–∏—Å–∞–Ω–Ω—ñ –≤–ª–∞—Å–Ω–∏—Ö —Ñ—É–Ω–∫—Ü—ñ–π —Ç–∞ —ó—Ö –∑–∞—Å—Ç–æ—Å—É–≤–∞–Ω–Ω—ñ –¥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É. –û—Å–∫—ñ–ª—å–∫–∏ –¥–∞–Ω—ñ –ø—Ä–æ –ø–æ—ó–∑–¥–∫–∏ –¥–æ –ù—å—é-–ô–æ—Ä–∫–∞, —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ –≥—Ä–∞–¥—É—Å–∞—Ö –§–∞—Ä–µ–Ω–≥–µ–π—Ç–∞.
–ù–∞–ø–∏—à—ñ—Ç—å —Ñ—É–Ω–∫—Ü—ñ—é temp_to_celcius, —è–∫–∞ –æ—Ç—Ä–∏–º—É—î –Ω–∞ –≤—Ö—ñ–¥ –∫–æ–ª–æ–Ω–∫—É –∑ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–æ—é ¬∞F, —ñ –ø–æ–≤–µ—Ä—Ç–∞—î –∑–Ω–∞—á–µ–Ω–Ω—è, –ø–µ—Ä–µ–≤–µ–¥–µ–Ω—ñ –≤ –≥—Ä–∞–¥—É—Å–∏ –¶–µ–ª—å—Å—ñ—è.
–§–æ—Ä–º—É–ª–∞:

Celsius = ((Fahrenheit-32) *5.0)/(9.0)
 
–ü—Ä–∏–∫–ª–∞–¥ —Ä–æ–±–æ—Ç–∏:
> taxi['temp'][:5]
0 30.0
1 30.0
3 30.0
4 30.0
5 30.0

> taxi['temp_C'] = temp_to_celcius(taxi['temp'])
> taxi['temp_C'][:5]
0 -1.111111
1 -1.111111
3 -1.111111
4 -1.111111
5 -1.111111

In [16]:
taxi['temp_C'] = (taxi.temp - 32) * 5 / 9

In [17]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp_01,pcp_06,pcp_24,sd,temp_C
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,-1.111111
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,-1.111111
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,-1.111111
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,-1.111111
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,-1.111111