1. ⭐️Завдання зі зірочкою!⭐️
Завантажте дані з Google Sheets, які знаходяться в папці (table - Лист1). Порахуйте відсоток чоловіків серед усіх відвідувачів сайту, округліть відповідь до цілих.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df_url='https://drive.google.com/file/d/1mcaQjf41Dz4ARVOtnEsNvHwGf4_rA1d4/view?usp=sharing'
df_path='https://drive.google.com/uc?id=' + df_url.split('/')[-2]
df = pd.read_csv(df_path)

In [3]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [4]:
df['percent'] = df.users.div(df.users.sum()) \
                        .mul(100) \
                        .round()

In [5]:
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

2. Завантажте файл із даними відвідуваності сайтуkarpov_courses_test.csv (https://drive.google.com/file/d/1z9bgajlcrgC_xG2otIZz4tDsjqx0VoEG/view?usp=sharing). За допомогою функції np.where створіть серію, в яку записуватиметься 1, якщо відвідування були зроблені роботами з браузера, що містить Chrome у назві та 0, в інших випадках. Помістіть серію, що вийшла, в змінну chrome_robots
Може знадобитися:
str.contains()

In [6]:
karpov_courses_test_url='https://drive.google.com/file/d/1z9bgajlcrgC_xG2otIZz4tDsjqx0VoEG/view?usp=sharing'
karpov_courses_test_path='https://drive.google.com/uc?id=' + karpov_courses_test_url.split('/')[-2]
karpov_courses_test = pd.read_csv(karpov_courses_test_path)

In [7]:
karpov_courses_test.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [8]:
chrome_robots = np.where((karpov_courses_test.browser.str.contains('Chrome')) & (karpov_courses_test.user_type == 'Robots'), 1, 0)
chrome_robots = pd.Series(chrome_robots)

In [9]:
correspondence = {'People': 'Humans',
                 'Robots': 'Bots'}

In [10]:
karpov_courses_test.user_type.map(correspondence)

0     Humans
1     Humans
2       Bots
3     Humans
4     Humans
5     Humans
6       Bots
7     Humans
8     Humans
9     Humans
10    Humans
11      Bots
12      Bots
13      Bots
14      Bots
15    Humans
16    Humans
17      Bots
18      Bots
19      Bots
20    Humans
21      Bots
22    Humans
23    Humans
Name: user_type, dtype: object

3. ⭐️Завдання зі зірочкою!⭐️
У вас є датасет sample_ads.csv (https://drive.google.com/file/d/1iAFv8kA-QKBZp_AaGKga5XZBgKVz-iEf/view?usp=sharing) з даними про кліки та покази по оголошення, в датасеті є пропуски. Обчисліть кількість рядків без перепусток у колонці click_type. Запишіть відповідь на змінну not_nan_count

     ad_id - id оголошення
     user_id - ID користувача
     click_type - тип кліка (клік за заголовком оголошення, клік по центру)

In [11]:
sample_ads_url='https://drive.google.com/file/d/1iAFv8kA-QKBZp_AaGKga5XZBgKVz-iEf/view?usp=sharing'
sample_ads_path='https://drive.google.com/uc?id=' + sample_ads_url.split('/')[-2]
sample_ads = pd.read_csv(sample_ads_path)

In [12]:
sample_ads.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [13]:
sample_ads.click_type

0        top
1     center
2        NaN
3        NaN
4        top
5        NaN
6        top
7        NaN
8     center
9        top
10       top
11    center
12       NaN
13       NaN
14       top
15    center
16       NaN
17       top
Name: click_type, dtype: object

In [14]:
(~sample_ads.click_type.isna()).sum()

11

In [15]:
sample_ads.click_type.notna().sum()

11

4. ⭐️Завдання зі зірочкою!⭐️
У списку lst є різні елементи. Створіть список new_list та зробіть таке:
- за допомогою конструкції try except та циклу спробуйте перетворити кожне значення в аркуші на int
- якщо це вийшло - додайте перетворене значення до списку new_list

In [16]:
lst = ['0', '2', 'text', '11']

In [17]:
new_list = []

In [18]:
for element in lst:
    try:
        new_list.append(int(element))
    except:
        continue 
#         pass - пропустити
#         continue - продовжувати

In [19]:
new_list

[0, 2, 11]

5. ⭐️Завдання зі зірочкою!⭐️
Тепер спробуємо скористатися знаннями використання Telegram API. Надішліть собі в личку будь-яке послання, а у відповідь до цього кроку напишіть нік бота, від імені якого надсилатимете повідомлення.

In [20]:
import json
import requests
from urllib.parse import urlencode

In [21]:
with open ('/_Semchenko/telegram.json') as src:
    data = json.load(src)

In [22]:
token = data['token']
chat_id = 910658369

In [23]:
# текс
message = 'Привіт!'

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage'

res = requests.post(url, params=params)

# Перевірка відповіді на запит
if res.status_code == 200:
    print('Повідомлення було успішно надіслано.')
else:
    print('Помилка під час надсилання повідомлення.')
    print(res.text)

Повідомлення було успішно надіслано.

In [ ]:
# # таблиця
# result = sample_ads.head()
# result_text = result.click_type.to_string()
# message = f'Результат коду:\n```\n{result_text}\n```'

# params = {'chat_id': chat_id, 'text': message}

# base_url = f'https://api.telegram.org/bot{token}/'
# url = base_url + 'sendMessage'

# res = requests.post(url, params=params)

# # Перевірка відповіді на запит
# if res.status_code == 200:
#     print('Повідомлення було успішно надіслано.')
# else:
#     print('Помилка під час надсилання повідомлення.')
#     print(res.text)

In [ ]:
# # Ваш код для створення графіку
# sample_ads.plot()

# # Зберігання графіку як зображення
# plt.savefig('sample_plot.png')

# # Відкривання і зчитування збереженого зображення як байтового файлу
# photo = open('sample_plot.png', 'rb')

# params = {'chat_id': chat_id}
# base_url = f'https://api.telegram.org/bot{token}/'
# url = base_url + 'sendPhoto'

# res = requests.post(url, params=params, files={'photo': photo})

# # Закрити файл після використання
# photo.close()

# # Перевірка відповіді на запит
# if res.status_code == 200:
#     print('Файл було успішно надіслано.')
# else:
#     print('Помилка під час надсилання файлу.')
#     print(res.text)
# (res.text)